#productos-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
  align-items: stretch;          
  margin: 40px auto 40px auto;
  gap: 20px;                     
}

.tarjeta-producto {
  flex: 1 1 300px;               
  max-width: 400px;
  text-align: center;  
  background-color: rgb(226, 228, 237); 
  padding: 10px;
  border-radius: 8px; 
           
}



.tarjeta-producto img{
  width: 80%; 
  height: auto;                  
  display: block;
  margin: 0 auto;
 
}

/*Carousel*/

.carousel {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.carousel-images {
  display: flex;
  width: 300%; 
  height: 100%;
  transition: transform 1.8s ease-in-out;
}

.carousel-images img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

 /* Botones */
.carousel button {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background-color: rgba(0,0,0,0.4);
   color: white;
   border: none;
   padding: 10px 15px;
   cursor: pointer;
   font-size: 18px;
   border-radius: 50%;
}

.carousel button:hover {
    background-color: rgba(0,0,0,0.7);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

 /* Indicadores */
.indicators {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

 .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: rgba(255,255,255,0.6);
  border-radius: 50%;
  cursor: pointer;
}

 .dot.active {
  background-color: white;
}